* {
	font-family: 'Montserrat', sans-serif;
}

strong {
	font-size: 25px;
	font-weight: bold;
}


/*----------------------------------------- NAV Y ENLACES DEL INDEX DE INICIO --------------------------------*/

nav {
	width: 100%;
	height: 6%;
	font-size: 20px;
	position: absolute;
	z-index: 100;
	background-color: white;
}

.enlaces {
	padding-right: 5%;
	width: 100%;
	display: inline-flex;
	justify-content: flex-end;
}

.enlaces a {
	color: black;
	min-width: 3%;
	height: 1%;
	margin: 1%;
	text-decoration: none;
	font-family: 'Montserrat', sans-serif;
	text-align: center;
	font-weight: bold;
}

.enlaces a:hover {
	transition: color 0.3s ease;
	color: #999999
}


@media screen and (max-width: 500px) {
	nav {
		font-size: 10px;
		font-weight: bold;
		padding-right: 20px;
		margin-bottom: 20%;
	}

	strong {
		font-size: 15px;
		font-weight: bold;
	}

	.enlaces a {
		margin:  10px 10px 5px;
		color: black;
		min-width: 10px;
		text-decoration: none;
		font-family: 'Montserrat', sans-serif;
		text-align: center;
	}

	.enlaces a:hover {
		transition: color 0.3s ease;
		color: #999999
	}
}


/*---------------------- INDEX DE INCIO.------------------------*/

.inicio {
	z-index: 10;
	width: 100%;
	margin-top: 7%;
	position: absolute;

}

.titulo {	
	color: black;
	margin-top: 1%;
	margin-bottom: 1%;
	width: 100%;
	font-size: 150px;
	text-align: center;
  font-family: 'Beau Rivage', cursive;
  <z-index: 100;
}


.inicio p {
	font-size: 40px;
	text-align: center;
	width: 100%;
	font-family: 'Beau Rivage', cursive;
	color: #68960e;
	animation-name: presentacion;
	animation-duration: 4s;
	animation-iteration-count: infinite;
	padding-right: 30%;
	padding-left: 30%;
	font-weight: bold;
}

.boton {
	margin-top: 4%;
	margin-left: auto;
  margin-right: auto; 
	height: 3%;
	width: 13%;
	padding: 1% 1% 1% 1%;
	background-color: #68960e;
	text-align: center;
	box-shadow: 0 0 5px #6eb564;
}

.boton:hover {
	background-color: #fcba03;
	transition: background 0.3s ease;
	box-shadow: 0 0 5px orange;
	
}

.boton a {	
	font-weight: bold;
	font-size: 24px;
	text-decoration: none;
	color: white;
}


.backgroundInicio {
	background-image: url(imagenes/portadadefinitiva.png);
	background-size: cover;
	background-attachment: fixed;
}


.circulo1 {
	animation-name: circulo1;
	animation-duration: 18s;
	animation-iteration-count: infinite;
	margin-top: 20%;
	margin-left: 5%;
	width: 300px;
	height:300px;
	position: absolute;
	background-image: url(imagenes/circulo1.png);
	background-size: cover;
}

.circulo2 {
	animation-name: circulo2;
	animation-duration: 15s;
	animation-iteration-count: infinite;
	margin-top: 30%;
	margin-left: 1%;
	width: 200px;
	height:200px;
	position: absolute;
	background-image: url(imagenes/circulo1.png);
	background-size: cover;
}

.circulo3 {
	animation-name: circulo3;
	animation-duration: 18s;
	animation-iteration-count: infinite;
	margin-top: 30%;
	margin-left:74%;
	width: 300px;
	height:300px;
	position: absolute;
	background-image: url(imagenes/circulo1.png);
	background-size: cover;
}
.circulo4 {
	animation-name: circulo4;
	animation-duration: 20s;
	animation-iteration-count: infinite;
	margin-top: 10%;
	margin-left:80%;
	width: 400px;
	height: 400px;
	position: absolute;
	background-image: url(imagenes/circulo1.png);
	background-size: cover;
}

@keyframes circulo1 {
	0% {
		transform: rotate(45deg);
	}
	50%{
		transform: rotate(180deg);
	}
	100% {
		transform: rotate(-45deg);
	}
}

@keyframes circulo2 {
	0% {
		transform: rotate(45deg);
	}
	50%{
		transform: rotate(180deg);
	}
	100% {
		transform: rotate(45deg);
	}
}

@keyframes circulo3 {
	0% {
		transform: rotate(45deg);
	}
	50%{
		transform: rotate(180deg);
	}
	100% {
		transform: rotate(45deg);
	}
}
@keyframes circulo4 {
	0% {
		transform: rotate(45deg);
	}
	50%{
		transform: rotate(180deg);
	}
	100% {
		transform: rotate(-45deg);
	}
}

@media screen and (max-width: 500px) {
.inicio {
	z-index: 10;
	width: 100%;
	margin-top: 120px;
	padding: 10px;
	position: absolute;
}

.circulo1 , .circulo2 , .circulo3 , .circulo4 {
	width: 0;
	height: 0;
}

.titulo {	
	font-size: 80px;
}


.inicio p {
	font-size: 14px;
}

.boton {
	height: 20px;
	width: 100px;
	background-color: #68960e;
	box-shadow: 0 0 5px #6eb564;
}

.boton:hover {
	background-color: #fcba03;
}

.boton a {	
	margin: 0px auto;
	font-weight: bold;
	font-size: 10px;
	text-decoration: none;
	color: white;
	justify-content: center;
  align-items: center;
  display: flex;
}


.backgroundInicio {
	background-image: url(imagenes/portadadefinitivaMOVIL.png);
	background-size: cover;
	background-attachment: fixed;
}

}


/* ------- INDEX NOSOTROS ----------------------------------------------*/

.backgroundNosotros {
	background-image: url(imagenes/segundaPortada1.png);
	background-size: cover;
	background-attachment: fixed;
}



.tituloContenidoNosotros {
	color: black;
	z-index: 10;
	width: 100%;
	position: absolute;
	text-align: center;
	margin-top: 7%;
	align-content: center;
}

.tituloContenidoNosotros h1 {
	width: 100%;
	font-size: 100px;
	font-family: 'Beau Rivage', cursive;
}

.tituloContenidoNosotros p {
	font-size: 20px;
	width: 100%;
	padding-left: 20%;
	padding-right: 20%;
	font-weight: bold;
}

@media screen and (max-width: 500px) {
.tituloContenidoNosotros h1 {
	font-size: 60px;
}

.tituloContenidoNosotros p {
	font-size: 10px;
}
}


/*-------------------------- INDEX PEDIDOS --------------------*/

.tituloContenidoPedidos h1 {
	color: black;
	font-size: 100px;
  font-family: 'Beau Rivage', cursive;
	text-align: center;
	width: 100%;
	margin-top: 10%;
	position: absolute;
	justify-content: space-around;
}

.tiposAguacates {
	display: inline-flex;
	width: 100%;
	color: black;
	margin-top: 20%;
	margin-bottom: 200px;
	height: 700px;
	flex-wrap: wrap;
	justify-content: space-around;
}

.primerAguacate {
	width: 600px;
	height: 600px;
	text-align: center;
	margin-right: 70px;
	margin-left: 70px;
	margin-bottom: 100px;
	padding: -5px;
	flex-grow: 1; 
	box-shadow: 0 0 20px #a8a8a8;
   background-color: white;
}


.backgroundPedidos {
	background-image: url(imagenes/pedidos.png);	
	background-size: cover;
	background-attachment: fixed;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	position: static;
}

@media screen and (max-width: 500px) {
	.tituloContenidoPedidos h1 {
		font-size: 60px;
		margin-top: 20%;
		margin-bottom: 5%;
	}
	.tiposAguacates {
			margin-top: 40%
	}

	.primerAguacate {
		margin-bottom: 1%;
		margin-top: 6%;
		width: 300px;
		height: 250px;
		flex-grow: 1;
		font-size: 15px;
	}
}


/* ---------------------------- BACKGROUND Y TITULO H3 DEL INDEX DE RECETAS --------*/

.tituloContenidoRecetas {
	z-index: 10;
	width: 100%;
	margin-top: 7%;
	position: absolute;
	padding-right: 32px 0;
	text-align: center;
}

.tituloContenidoRecetas h1 {	
	color: black;
	font-size: 100px;
  font-family: 'Beau Rivage', cursive;
	margin-bottom: 20px;
	width: 100%;
	text-align: center;
}

.recetaSi h3 {
	color: black;
	 font-family: 'Beau Rivage', cursive;
	margin-top: 50px;
	width: 100%;
	font-size: 40px;
	text-align: center;
}

.recetaSi p {
	color: black;
	margin-top: 50px;
	width: 100%;
	font-size: 20px;
	text-align: center;
}

.backgroundRecetas {
	background-image: url(imagenes/portada.png);
	background-size: cover;
	background-attachment: fixed;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	position: static;
}

.recetario {
	background-image: url(imagenes/recetario.png);
	background-size: cover;
	border: 1px solid #cfcfcf;
	box-shadow: 0 0 20px #a8a8a8;
	margin-top: 80px;
	margin-bottom: 80px;
	padding: 20px 20px 20px;
	width: 80%;
	height: 600px;
	display: inline-flex;
	text-align: center;
}

.recetarioEscrito {
	margin-right: 100px;
}

@media screen and (max-width: 500px) {
	.tituloContenidoRecetas h1 {	
		font-size: 60px;
	}

	.recetario {
		background-image: url(imagenes/recetario.png);
		background-size: cover;
		border: 1px solid #cfcfcf;
		box-shadow: 0 0 20px #a8a8a8;
		margin-top: 80px;
		margin-bottom: 80px;
		padding: 20px 20px 20px;
		width: 100%;
		height: 600px;
		display: block;
		text-align: center;
	}

	.recetaSi h3 {
		margin-top: 2%;
		font-size: 20px;
	}

	.recetaSi p {
		margin-top: 2%;
		font-size: 15px;
	}
}

/*------------ BACKGROUND DEL INDEX DE CONTACTO ------*/

.backgroundContacto {
	background-image: url(imagenes/portadaContacto.png);
	background-size: cover;
	background-attachment: fixed;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	position: static;
}

/*----------- FORMULARIO DE CONTACTO -------*/

.tituloContenido {
	color: black;
	z-index: 10;
	width: 100%;
	margin-top: 7%;
	position: absolute;
	text-align: center;
}

.tituloContenido h1 {
	color: black;
	font-size: 100px;
  font-family: 'Beau Rivage', cursive;
	text-align: center;
	width: 100%;
}

@media screen and (max-width: 500px) {
	.tituloContenido h1 {	
		font-size: 60px;
	}
}

.grid-contacto {
	padding: 40px;
  margin-top: 120px;
	text-align: center;
	display: grid;
	grid-template-columns: repeat(4, 25%);
	grid-template-rows: repeat(3, 500px);
	grid-template-areas: 
	"contacto1 contacto1 contacto1 contacto1"
	"contacto2 contacto2 contacto3 contacto3"
	"contacto4 contacto4 contacto4 contacto4"
	;
}

.grid-contacto div {
	margin: 10px;
}

.grid-contacto h3 {
	margin: auto;
}

.contacto1 {
	border:  1px solid black;
	padding: 40px;
	display: block;
	grid-area: contacto1;
  background: white;
}	

input {
	border: 0;
	outline: 0;
	padding: 16px;
	margin-top: 10px;
	margin-bottom: 10px;
	appearance: none;
	border: 1px solid #cfcfcf;
}

label {
	display: block;
	margin-bottom: 24px;
	width: 100%;
}

button {
	margin-top: 30px;
	margin-left: auto;
   margin-right: auto; 
	height: 50px;
	width: 200px;
	background-color: black;
	border-radius: 200px;
	text-align: center;
	padding-top: 13px;
	color: white;
	font-weight: bold;
	padding-top: 5px;	
	transition: background 0.2s ease;
}

button:hover {
	background-color: #68960e;
	box-shadow: 0 0 20px #a8a8a8;
}

textarea {
	outline: 0;
	padding: 16px;
	margin-top: 30px;
	margin-right: 8px;
	appearance: none;
	border-color: #cfcfcf;
	resize: none;
	width: 400px;
	height: 100px;
}


.contacto2 {
	grid-area: contacto2;
	background-color: white;
	padding: 75px;
	border:  1px solid black;
}

.contacto2 h3 {
	padding: 20px;
}

.contacto3 {
	border: 1px solid black;
	grid-area: contacto3;
	background-color: white;
	padding: 80px;
}

.contacto4 {
	border:  1px solid black;
	grid-area: contacto4;
	background-color: white;
	padding: 80px;
}

@media screen and (max-width: 768px) {
	.grid-contacto {
		padding: 40px;
	  margin-top: -17px;
		text-align: center;
		display: grid;
		grid-template-columns: repeat(2, 50%);
		grid-template-rows: repeat(4, 300px);
		grid-template-areas: 
		"contacto1 contacto1"
		"contacto2 contacto2"
		"contacto3 contacto3"
		"contacto4 contacto4"
		;
	}

	.contacto1 {
	  grid-area: contacto1;
	  display: block;
	  padding: 3%;
	}	

	label {
		display: block;
		margin-bottom: 0px;
		width: 100%;
	}

	button {
		margin-top: 4px;
		margin-left: auto;
	  margin-right: auto; 
		height: 30px;
		width: 150px;
		background-color: black;
		border-radius: 200px;
		text-align: center;
		padding-top: 5px;
		color: white;
		font-weight: bold;
		padding-top: 5px;	
		transition: background 0.2s ease;
	}

	button:hover {
		background-color: #68960e;
		box-shadow: 0 0 20px #a8a8a8;
	}

	textarea {
		outline: 0;
		padding: 5px;
		margin-top: 10px;
		margin-right: -2px;
		appearance: none;
		border-color: #cfcfcf;
		resize: none;
		width: 200px;
		height: 90px;
	}

	.contacto2 {
		padding:  30px;
		grid-area: contacto2;
		background-color:  white;
	}

	.contacto2 h3 {
		font-size: 15px;
	}

	.contacto3 {
		grid-area: contacto3;
		background-color:  white;
	}

	.contacto4 {
		grid-area: contacto4;
		background-color:  white;
	}

}

/* ------ PIE DE PÃGINA -----*/

footer {
	display: inline-flex;
	position: fixed;
	bottom: 10px;
	right: 20px;
}

footer h4 {
	margin-left: 25px;
}

@media screen and (max-width: 500px) {
	footer {
		font-size: 10px;
	}